@import '../../../assets//styles//variables.module';
.title{

color: $thr_color;
text-decoration: none;
font-size: 18px;
border-bottom: 2px solid $line_head;
width: 100%;
display: block;
padding-bottom: 15px;
text-align: center;
.line{
    position: relative;
    &::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: $primary_color;
    position:absolute;
    bottom: -2px;
    left: 0;
    transition: all ease-in 0.2s;
    animation: moving 1.2s linear infinite;
    
}
}
.line:hover::after{
        width: 100%;
       
    }
}

.check{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    .checkText{
        font-size: 14px;
        color: $time_color;
        letter-spacing: 1px;
    }
}

.button{
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: $white_color;
    display: block;
    padding: 10px 30px;
    background-color: $primary_color;
    border: 1px solid $time_color;
    font-size: 14px;
    text-align: center;
    transition: all ease-in-out 0.3s;
    margin-top: 20px;
    &:hover{
        background-color: transparent;
        color: $time_color;
    }
}

.textBottom{
    font-size: 14px;
    letter-spacing: 1px;
    color: $time_color;
    text-decoration: none ;
    text-align: center;
    p{
       margin-top: 20px; 
    }
}