@import '../../assets/styles/variables.module';
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    align-items: center;
    gap:150px;
    padding-bottom: 100px;
    
    .boxContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .title{
        font-family: "Roboto Mono", Sans-serif;
        font-size: 35px;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 46px;
        color: $time_color;
        letter-spacing: 2px;
        text-align: center;
    }
    .text{
        text-align: center;
        font-family: "Roboto Mono", Sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color:$thr_color;
        margin-top: 20px;
        margin-bottom: 25px;
        
    }
    .button{
    background-color:$white_color;
    font-family: "Roboto Mono", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    fill: $primary_color;
    color: $primary_color;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: $primary_color;
    border-radius: 3px 3px 3px 3px;
    padding: 13px 45px 13px 45px;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    &:hover{
        background-color: $primary_color;
        color: $white_color;
       
    }
    }

   
}