@import '../../assets/styles/variables.module';
.boxHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 15px;
    padding: 15px;
  .text {
    font-family: "Roboto Mono", Sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 26px;
    color:$thr_color;
  }
  .texth2{
    color: $primary_color;
    font-family: "Roboto Mono", Sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    &::after{
        content: "";
        height: 2px;
        border-top: 2px;
        border-bottom: 2px;
        width: 100%;
        display: block;
        border-top: 2px solid $line_head;
        border-bottom: 2px solid $line_head;
        margin-left: 45px;

    }
    &::before{
        content: "";
        height: 2px;
        border-top: 2px;
        border-bottom: 2px;
        width: 100%;
        display: block;
        border-top: 2px solid $line_head;
        border-bottom: 2px solid $line_head;
        margin-right: 45px;

    }
  }

}
