@import '../../assets//styles/variables.module';
.container
{

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 100;
        transition: all ease-in 0.2s;
    }
    .sidebar{
        width: 370px;
        background-color: #fff;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 110;
        height: 100vh;
        transform: translateX(370px);
        transition: transform ease-in 0.3s;
        padding: 20px 30px;
        
    }

    .show{
        transform: translateX(0);
        transition: transform 0.3s ;
    }

    .closeside{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #fff;
        position: fixed;
       right: 0;
        z-index: 100;
        top: 20px;
        transition: transform  0.3s;
        cursor: pointer;
        &:hover{
            background-color:$line_head ;
        }
    }
    .showClose{
         transform: translateX(-390px);
    }
}