@import "../../assets/styles//variables.module";

.container {
  background-color: $footer_color;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  .logo {
    max-width: 160px;
    height: 56px;
    margin-bottom: 20px;
    fill: $white_color;
  }
  .boxMenu {
    width: 1275px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    .Menu {
      display: flex;
      li a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        color: $white_color;
        transition: all ease-in-out 0.3s;
        margin-left: 22.5px;
        margin-right: 22.5px;

        &:hover {
          color: #ccc;
        }
      }
    }
  }
  .text{
    text-align: center;
    font-family: "Roboto Mono", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color:$white_color;
  }
  .cardLogo{
    width: 270px;
    height: 29px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .textLink{
    text-align: center;
    font-family: "Roboto Mono", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color:$white_color;
    text-decoration: none;
  }
}
