@import "../../assets/styles/variables.module";
.product {
  position: relative;
  &:hover .boxInner {
    opacity: 1;
    transform: translateX(0);
  }
}
.boxImage {
  text-decoration: none;
  display: flex;
  position: relative;
  cursor: pointer;
  img {
    width: 292px;
    height: 350px;
    object-fit: cover;
  }

  .active {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all ease-in 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
.boxInner {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 160px;
  position: absolute;
  right: 20px;
  z-index: 10;
  bottom: 40px;
  opacity: 0;
  transform: translateX(100%);
  transition: all ease-in-out 0.4s;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $white_color;
    transition: all ease-in-out 0.3s;
    &:hover {
      background-color: $line_head;
    }
  }
  img {
    width: 17px;
    height: 17px;
    object-fit: cover;
  }
}

.boxTitle{
  h2{
    margin-bottom: 5px;
  }
  a{
    text-decoration: none;
    font-size: 16px;
    color:$primary_color;
    font-weight: 400;
    line-height: 1px;
    letter-spacing: 2px;
    
  }
  span{
    color: $for_color;
    font-weight: 400;
    line-height: 1px;
    letter-spacing: 2px;
    
  }
}