@import "../../assets/styles/variables.module";
.containerBg {
  background-image: url("../../assets/imgs/img/02-SLIDESHOW-1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1250px;
  display: flex;
  min-height: 750px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 42px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 52px;
  color: #222;
  letter-spacing: 4px;
  margin: 0;
  margin-bottom: 25px;
}
.text {
  text-align: center;
  font-family: "Roboto Mono", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #555;
  margin-bottom: 25px;
}
.boxButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.button {
  padding: 13px 45px;
  border: 0.7px;
  text-decoration: none;
  background-color: $primary_color;

  font-family: "Roboto Mono", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  fill: #fff;
  color: #fff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #333;
  border-radius: 3px 3px 3px 3px;
  transition: all ease-in-out 0.3s;
  & span {
    font-size: 14px;
    color: $white_color;
  }
  &:hover {
    background-color: transparent;
    color: #333;
    & span {
      font-size: 14px;
      color: #333;
    }
  }
}
